#contain{
	width: 100%;
	display: flex;
	position: relative;
	justify-content: center;
}
#leftContain{
	width: 20%;
	background-color: #ECECFF;
	height: 42rem;
}
#rightContain{
	width: 65%;
	background-color: #ECFFFF;
	margin-left: 1.25rem;
	height: 42rem;
}
#menu{
	margin: 0rem;
	padding: 0rem;
}
#menu li{
	list-style: none;
	text-align: center;
	padding: 0.625rem;
}
#menu li:hover{
	background-color: #00FFFF;
}
#menu a{
	text-decoration: none;
	font-size: 1.25rem;
	
}