<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../CSS/Header.css" />
		<link rel="stylesheet" href="../CSS/information.css" />
		<link rel="stylesheet" href="../CSS/chageInformation.css" />
	</head>
	<body>
		<div id="Header" style="width: 100%;">
			<div id="iconBox">
				<img src="../img/logo.png" />
			</div>
			<div id="items">
				<h2>用户中心</h2>
			</div>
			<div id="user">
				<p id="username"></p>
				<img src="../img/headerImage.png" />
			</div>
		</div>
		
		
		<div id="contain">
			<div id="leftContain">
				<ul id="menu">
					<li style="background-color: #00FFFF;"><a href="doctorInformation.html"> 更改个人信息 </a></li>
					<li><a href="patientList.html"> 查看病人列表 </a></li>
					<li><a href="#"> 更改电子病例 </a></li>
					<li><a href="#"> 编写诊断报告 </a></li>
					<li><a href="index.html">返回首页</a></li>
					<li><a href="#" id="loginOut" onclick="loginOut()"> 退出登录 </a></li>
				</ul>
			</div>
			<div id="rightContain">
				<h2>个人信息</h2>
				<div><span>用户ID</span><input id="doctorId" type="text" readonly="readonly" v-model="user.doctorId" /></div>
				<div><span>密码</span><input id="password" type="password"  v-model="user.password" onchange="changePassword()" /></div>
				<div id="repasswordBox" style="display: none;"><span>确认密码</span><input id="repasssword" type="password"  /></div>
				<div><span>名字</span><input id="name" type="text" readonly="readonly" v-model="user.name" /></div>
				<div><span>科室</span><input id="department" type="text" readonly="readonly" v-model="user.department" /></div>
				<div><span>职位</span><input id="position" type="text" readonly="readonly" v-model="user.position" /></div>
				<div><span>患者数量</span><input id="position" type="text" readonly="readonly" v-model="user.underPatient" /></div>
				<button id="submit" disabled="disabled" onclick="updata('doctors')">保存</button>
			</div>
		</div>
		
		<script src="../script/Header.js"></script>
		<script src="../script/information.js"></script>
		<script src="../script/vue.js"></script>
		<script>
			var main = new Vue({
				el:"#rightContain",
				data:{
					user:{
						doctorId:"",
						password:"",
						name:"",
						department:"",
						position:""
					}
				}
			})
			var user = JSON.parse(sessionStorage.getItem("user"));
			main.user = user;
			main.user.password = "";
		</script>
		
	</body>
</html>
